*{
  padding: 0;
  margin: 0;
}
.tamaño-titulo{
  font-size: 30px!important;
}
.alto1{
  height: 10vh;
}
.alto2{
  height: 80vh;
}
.color-panel{ background-image: linear-gradient(to bottom, #343232, #333132, #313131, #303030, #2f2f2f, #2c2c2c, #2a2a2a, #272727, #222222, #1d1d1d, #181818, #121212);

}
.altura-panel{
  height: 400px;
}
.white{
  color: white;
}
.tamaño-subtitulo{
  font-size: 20px;
}
.letra-mayuscula{
  text-transform:uppercase;
}


.border-card{
  border-radius: 12px;
}

.black{
  color: black;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}